.buttongiveadvice{
    height:56px;
    width:200px;
    margin-top:25px;
    margin-left:25px;
    border-radius: 5px;
    border:2px solid gray;
    font-family: Impact;
    font-size: 1.2em;
    color: dimgray
}
.buttongiveadvice:hover{
    color:rgb(19, 18, 18);
}