.displayalladvice{
    height:56px;
    width:500px;
    margin-top:25px;
    margin-left:25px;
    border-radius: 5px;
    border:2px solid gray;
    font-family: Impact;
    font-size: 1.2em;
    color: rgb(155, 153, 153);
    
}
.displayalladvice:hover{
color: rgb(32, 32, 32);

}

