.header{
background-color: red;
}
.middle{
    position: relative;
    height:45vh;
    width: 100%;
    overflow: hidden;
}
.image{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.graphic{
    position: absolute;
    top: 35px;
    left:80px;
    width: 30%;
    height: auto;
}
