.searchline{
    display:flex;
}

.searchbar{
    height:50px;
    width:300px;
    margin-left:25px;
    margin-right: 25px;
    border-radius: 5px;
    border:2px solid gray;
    font-size: 1.25em;
    margin-top: 25px;
    flex:1
}
.inputsubmit{
    height:50px;
    width:200px;
    flex:2;
}
