
.body{
    margin: auto;
    
}


.middle{
    height:300px;
    width:100%;
}
.mid >div{
    display:flex;
}
/* .advice-display{
    background-color: red;
    height:250px;
    width:500px;
    flex:2;
} */